{% extends "base.html" %}
{% block content %}
<h3 class="light-blue-text text-darken-4 center-align">Tasks</h3>
<!-- Collapsable -->
<div class="row">
    <ul class="collapsible">
        {% for task in tasks |sort(attribute="due_date") %}
        <li>
            <div class="collapsible-header">
                {{ task.task_name }} : {{ task.due_date.strftime("%d, %B, %Y") }}
                {%- if task.is_urgent -%}
                <i class="fas fa-exclamation-circle prefix light-blue-text text-darken-4"></i>
                {%- endif %}
            </div>
            <div class="collapsible-body">
                <strong>{{ task.category }}</strong>

                <textarea class="description-view" disabled>{{ task.task_description }}</textarea>

                <div class="card-action">
                    <!-- We can send details within the url_for method which can be captured in the routes.py file -->
                    <a href="{{ url_for('edit_task', task_id=task.id) }}" class="btn green accent-4">Edit</a>
                    <a class="modal-trigger btn red" href="#modal-{{task.id}}">Delete</a>
                </div>
            </div>
        </li>
        <!-- MODAL -->

        <!-- Modal Structure -->
        <div id="modal-{{ task.id }}" class="modal">
            <div class="modal-content">
                <h4>Delete Task</h4>
                <p>Are you sure you want to delete the task {{ task.task_name }}?</p>
            </div>
            <div class="modal-footer">
                <!-- Close the modal -->
                <a href="#!" class="modal-close btn">No</a>
                <!-- Direct to delete route to delete item -->
                <a href="{{ url_for('delete_task', task_id=task.id) }}" class="btn red">Yes</a>
            </div>
        </div>
        {% endfor %}
    </ul>
</div>

<!-- Add More Tasks -->
<div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('add_task') }}" class="btn-large light-blue darken-2">
            Add Task <i class="fas fa-plus-square right"></i>
        </a>
    </div>
</div>
{% endblock %}