/* Keeps footer at bottom */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.description-view{
    height: 200px;
    border: none;
}

.warning {
    color: #fff;
    padding: 10px;
}